
  
<div class="span10" ng-controller='RecommendCtrl'> 
  <h1>Rec by cat</h1>
  <ul>
    <li ng-repeat="recbyCat in recbyCats">
      <h4>{{recbyCat.name}}</h4>
       <h6 align="right"> {{recbyCat.info}}</h6>
    </li>
  </ul>
</div>   

